<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloudconsumerhystrixdashboard9001:war exploded">
    <output-path>$PROJECT_DIR$/springcloudconsumerhystrixdashboard9001/target/springcloud-consumer-hystrix-dashboard-9001</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloudconsumerhystrixdashboard9001" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloudconsumerhystrixdashboard9001/target/springcloud-consumer-hystrix-dashboard-9001/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloudconsumerhystrixdashboard9001/web/Web" />
    </root>
  </artifact>
</component>