<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloudproviderdepthystrix8001:war exploded">
    <output-path>$PROJECT_DIR$/springcloudproviderdepthystrix8001/target/springcloud-provider-dept-hystrix-8001</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloudproviderdepthystrix8001" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloudproviderdepthystrix8001/target/springcloud-provider-dept-hystrix-8001/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloudproviderdepthystrix8001/web/Web" />
    </root>
  </artifact>
</component>