<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloudconfigclient3355:war exploded">
    <output-path>$PROJECT_DIR$/springcloudconfigclient3355/target/springcloud-config-client-3355</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloudconfigclient3355" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloudconfigclient3355/target/springcloud-config-client-3355/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloudconfigclient3355/web/Web" />
    </root>
  </artifact>
</component>