<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloudconsumerdeptfeign:war exploded">
    <output-path>$PROJECT_DIR$/springcloudconsumerdeptfeign/target/springcloud-consumer-dept-feign</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloudconsumerdeptfeign" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloudconsumerdeptfeign/target/springcloud-consumer-dept-feign/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloudconsumerdeptfeign/web/Web" />
    </root>
  </artifact>
</component>